/* width */
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #5d585f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c1a1d;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2d2c2e;
}

html {
  scroll-behavior: smooth;
  background: #1d1923;
}

body {
  background: #1d1923;
  color: white;
  scroll-behavior: smooth;

}